button {
  font-size: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Updated {
  margin-top: 1em;
  background-color: rgb(86, 177, 86);
  border: 1px solid #000000;
  border-radius: 100%;
  padding: 6px;
  transition: transform ease 0.25s;
}
.Updated:hover,
.Submit:hover {
  transform: scale(1.1);
  background-color: #8fbb8e;
  box-shadow: 0 2px 3px #00000050;
  cursor: pointer;
}

.Delete {
  background-color: rgba(255, 255, 255, 0.007);
  border: 1px solid #00000000;
}
.Delete:hover {
  cursor: pointer;
}

.Submit {
  background-color: rgb(110, 187, 110);
  margin-top: 1em;
  border-radius: 100px;
  padding: 0;
  border: 1px solid black;
  transition: transform ease 0.25s;
}
