button {
  font-size: inherit;
}

.Updated {
  background-color: green;
  padding: 8px 10px;
  border: 1px solid #0a5300;
}
.Updated > img {
  width: 35px;
  height: 35px;
}
.Updated:hover {
  background-color: lightgreen;
}

.Delete {
  background-color: rgba(255, 255, 255, 0.007);
  border: 1px solid #00000000;
}
.Delete:hover {
  cursor: pointer;
}

.Submit {
  font-family: inherit;
  background-color: #249c1c;
  margin-top: 1em;
  padding: 8px 10px;
  border: 1px solid black;
  transition: transform ease 0.25s;
}

.Submit:hover {
  transform: scale(1.1);
  background-color: #62bd5b;
  box-shadow: 0 2px 3px #00000050;
  cursor: pointer;
}
