.Nav {
  display: flex;
  width: 100%;
}
.Nav > ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-right: 1em;
}
.Nav ul li {
  display: flex;
  box-sizing: border-box;
  text-transform: uppercase;
}
.Nav ul li a {
  padding: 15px 5px;
  text-decoration: none;
  color: black;
}

.Nav ul li a:hover,
.Nav ul li a:active,
.Nav ul li a.active {
  font-weight: bold;
  color: black;
  background-color: rgba(0, 0, 0, 0.082);
  box-shadow: 0 3px rgba(0, 0, 0, 0.993);
  color: black;
  cursor: pointer;
}

.Auth {
  color: black;
  margin-left: 2em;
  align-self: center;
}

.Auth:hover {
  cursor: pointer;
}
