.Date {
  font-style: italic;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  color: white;

  transition: ease 0.5s margin-left;
}
.Create {
  cursor: pointer;
  font-style: italic;
  color: #00000096;
  border: 1px solid rgba(0, 0, 0, 0.657);
  border-radius: 15px;
  padding: 0.3em;
}
.Create:hover {
  font-weight: bold;
}
