.Formulario {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 1em;
  align-items: flex-end;
}
.Formulario header h2 {
  text-align: left;
  font-style: italic;
}
.Boton {
  width: 40px;
}
